@use "./main.scss" as *;

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  background: $header;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: auto;

  p,
  a,
  h2 {
    color: $footer-text;
    font-size: calc($paragraph-size - 4px);
    margin-left: 25px;
    text-shadow: 0 0 8px rgb(90 125 169 / 80%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    padding: 0;
    font-weight: 600;
    display: flex;

    img.icon {
      margin-left: 5px;
      margin-right: 10px;
      width: $paragraph-size;
    }
  }

  h2 {
    color: $footer-title;
    font-size: 28px;
    font-weight: bold;
  }
}
