$bg-default: rgb(29, 29, 29);
$bg-dark: rgb(10, 10, 10);
$header: rgba(15, 15, 15, 0.8);
$fill: rgba(28, 70, 133, 0.8);
$header-shadow: rgba(10, 10, 10, 0.8);
$fill-shadow: rgba(22, 52, 99, 0.8);
$lime: rgba(31, 167, 31, 0.8);
$lime-shadow: rgba(26, 97, 26, 0.8);
$red: rgba(161, 32, 32, 0.8);
$red-shadow: rgba(97, 19, 19, 0.8);

$header-size: 52px;
$paragraph-size: 23px;

body {
  background: $bg-default;
  overflow: hidden;
}

.main,
.projects {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  overflow-y: auto;

  .barFill.r {
    background: $red;
    box-shadow: 0 0 8px 5px $red-shadow;
  }

  .projectContainer.r {
    border: 3px solid $red-shadow;
  }

  .barFill.g {
    background: $lime;
    box-shadow: 0 0 8px 5px $lime-shadow;
  }

  .projectContainer.g {
    border: 3px solid $lime-shadow;
  }

  .barFill.b {
    background: $fill;
    box-shadow: 0 0 8px 5px $fill-shadow;
  }

  .projectContainer.b {
    border: 3px solid $fill-shadow;
  }

  .content {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100% - 60px);

    .intro {
      width: 700px;
      height: auto;

      h1,
      h2,
      p {
        color: white;
        text-shadow: 0 0 8px rgb(90 125 169 / 80%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      h1,
      h2 {
        font-size: $header-size;
      }
      p {
        font-size: $paragraph-size;
      }
    }

    .skills {
      width: 500px;
      margin-bottom: 10px;
      .skillsTitle {
        font-size: $header-size;
      }

      h1,
      h2,
      p {
        color: white;
        text-shadow: 0 0 8px rgb(90 125 169 / 80%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      .skillBar {
        position: relative;
        left: 0;
        top: 0;
        width: 500px;
        height: 25px;
        background: $header;
        box-shadow: 0 0 8px 5px $header-shadow;

        .skillBarFill {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background: $fill;
          box-shadow: 0 0 8px 5px $fill-shadow;
        }
      }
    }
  }
}
